*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.logo {
    height: 75px;
    
}

.footer-top {
    border-top: 1px solid #3b8c42;
}

.chapter_title {
    text-transform: uppercase;
    color: #3b8c42;
    display: flex;
    align-items: baseline;
}

.chapter_underline {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #3b8c42;
    margin-left: 10px;
}